<table class="table">
	<%  @data.each do |hash| %>
		<tr>
			<td><%=hash["name"]%></td>
			<td><%=hash["price"]%></td>
			<td><a href = "<%=hash["link"]%>">Buy at <%=hash["store"]%></a></td>
		<tr>
	<% end %>
</table>