<div class = 'well' id = "about-content" >
	<h1> <center>General Information</center></h1>
	<div class="list-group">
	  <div class="list-group-item">
	    <h2 class="list-group-item-heading">About</h2>
	    <p class="list-group-item-text">
		Speedcub.es lets you search multiple cube stores at once, so you can easily find the cheapest prices. Speedcub.es was created by Weston Mizumoto in Ruby on Rails. You can view the source code <a href = "https://github.com/westonmizumoto/speedcubeprices">here</a>. If you would like to help contribute, send me an email at westonm1@stanford.edu.
	    </div>

	  <div class="list-group-item">
	    <h2 class="list-group-item-heading">DONATE</h2>
	    <p class="list-group-item-text">
	    Hosting a website is not free, so if you would like to donate a few dollars, you can find me on venmo @weston-mizumoto. Or you can buy me food at a competition.
	    </p>
	  </div>

	<div class="list-group-item">
	    <h2 class="list-group-item-heading">BUG REPORTS</h2>
	    <p class="list-group-item-text">If you noticed something wrong with the site, and would like to report it to me, you can email me at westonm1@stanford.edu.
		</p>
	</div>
	</div>
</div>