<div id = "content" >
<h2 id = 'about'>ABOUT</h1>
<p>
Speedcub.es lets you search multiple cube stores at once, so you can easily find the cheapest prices.
</p>
<h2 id = 'donate'>DONATE </h1>
<p>
Hosting a website is not free, so if you would like to donate a few dollars, you can find me on venmo @weston-mizumoto. Or you can buy me food at a competition.
</p>
<h2 id = 'report'>BUG REPORTS</h1>
<p>
If you noticed something wrong with the site, and would like to report it to me, you can email me at westonm1@stanford.edu.
</p>
</div>