
thead{
	font-weight: bold;
}
#main-contents{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
}
#title{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.stats{
	padding-left:20px;
}

#small-search-button{

}

#small-search-box{
	width:40%;
	height: 30px;
	margin-left:auto;
	margin-right:auto;
}
#small-checkboxes{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#home-button{
	padding:10px;
	font-size:20px;
}


#coupons{
	font-size:8pt;
}