#main-content{
	margin-top:5%;
	width:50%;
	margin-left: auto;
    margin-right: auto;

}
#top{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:10%;
}

#searchBox{
	width:85%;
	float:left;
}
#button{
	width:15%;
}

#title{
	font-size:60pt;
}