<div class = 'well' id = "shipping-content" >
	<h1> <center>Shipping Information</center></h1>
	<div class="list-group">
	  <div class="list-group-item">
	    <h4 class="list-group-item-heading">SpeedCubeShop.com</h4>
	    <p class="list-group-item-text">
	    	Based in California. Free shipping on domestic orders of $10.00 or more.
	    	Reduced rate international shipping.
	    </div>

	  <div class="list-group-item">
	    <h4 class="list-group-item-heading">TheCubicle.us</h4>
	    <p class="list-group-item-text">Based in New York. Free shipping on domestic orders of $10.00 or more. Reduced rate international shipping.
	    	<a href = "http://thecubicle.us/shipping.php"> More info.</a>
	    </p>
	  </div>

	<div class="list-group-item">
	    <h4 class="list-group-item-heading">Cubezz.com</h4>
	    <p class="list-group-item-text">Free Shipping on select items.</p>
	</div>

	<div class="list-group-item">
	    <h4 class="list-group-item-heading">Cubes4Speed.com</h4>
	    <p class="list-group-item-text">Based in Washington State. Free shipping on domestic orders of $10.00 or more.
	    	    <a href = "http://cubes4speed.com/pages/shipping">More info.</a></p>

	</div>

	</div>
</div>