<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Speedcub.es</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id = "top-thing" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></nav>
<a href = "/" ><span class = 'glyphicon glyphicon-home top-buttons hvr-grow'></span></a>
<a href = "/about" ><span class = 'glyphicon glyphicon-info-sign top-buttons hvr-grow' title = "info"></span></a>
<!-- <a href = "/about#donate" ><span class = 'glyphicon glyphicon-usd top-buttons hvr-grow'  title = "donate"></span></a>
<a href = "/about#report" ><span class = 'glyphicon glyphicon-flag top-buttons hvr-grow' title = "report bug"></span></a> -->
<span id ='right-links'>
<!--   <button class = 'btn btn-inverse' onclick = "window.location='/sales'">Sales</button>
 -->  <button class = 'btn btn-inverse' onclick = 'window.location="/shipping"'>Shipping</button>
</span>
<%= yield %>
<footer class="footer">
  <div class="container">
    <p class="text-muted">
    2015 Weston Mizumoto &nbsp;&nbsp;
    <a target="_blank">
<img id = 'counter' src="http://hitwebcounter.com/counter/counter.php?page=6164308&style=0007&nbdigits=6&type=page&initCount=0" title="" Alt=""   border="0" >
</a>
    </p>
  </div>
</footer>
</body>
</html>
